.btn-BuyNow{
    background-color: #f0ad4e;
    border: none;
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
}
.btn-addToCart{
    background: linear-gradient(90deg, #3E20F8E5, #D017EE);
    color: #fff;
    padding: 10px 15px;
}
.btn-submitOrder{
    background: orange;
    border-color: orange;
    margin-right: 20px;
}

